#Box {
    margin: auto;
    background: black;
    text-align: center;
    color: white;
    /**/
    border-top: 15px blue solid;
    border-right: 15px greenyellow solid;
    border-bottom: 15px red solid;
    border-left: 15px orange solid;
    /**/
    padding: 50px;
    width: 300px;
    height: 400px;

    text ;
}

.head {
    text-align: center;
}