/*comment line - command + / */
/*THREE WAY TO STYLE AN ELEMENT
-By the element
-ID - INDIVUAL ELEMENT
-Classes - GROUP OF ELEMENTS
*/


h1 {
    text-align: center;
    color: darkorange
}

/*select by class name*/

.postTitle {
    color: red;
    text-decoration: underline;

}

/*select by id names*/
#postContentOne {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#postContentTwo {
    font-family: 'Roboto', sans-serif;

}

/*box model*/

#box-model {
    /*padding: 20px;  */
/*applies all around*/

    /*padding: 20px 50px;*/
/*top and bottom 20px, left and right 50px*/

padding: 20px 50px 100px 60px;
/*top 20px, right 50px, bottom 100px, left 60px*/

/*borders*/
    border: orange 12px solid;


/*margin*/
    margin: 50px 80px 100px 30px;


/*Can only color a Border*/

}
